<div class="container">
    <li class="navbar-brand p-3">
     <h1>投稿編集</h1>
    </li>
<%= form_with model: @game, url: edit_public_game_path(@game.id), method: :patch do |f| %>
<div class="p-3">
<h2>ゲームタイトル</h2>
  <%= f.text_field :title %>

<h2>投稿内容</h2>
 <%= f.text_area :body %>

 <%= f.submit "変更を保存する", class: 'btn btn-sm btn-success' %>

 <% end %>
 </div>
 </div>