<p id="notice"></p>
<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
    ABOUT
    </h1>
  </div>
<div class="container">
  <div class="row">
    <h2 class="px-3 mx-auto">
<p>ようこそゲーマーズへ</p>
<p>このサイトはゲームが好きな方のために、</p>
<p>ゲーム攻略や交流を目的としたものです。</p>
<p>皆さんが楽しめるように不快に思われるような</p>
<p>投稿は控えて頂きたいです。</p>
</div>
</div>
