<div class="container p-3">
    <li class="navbar-brand p-3">
     <h2>投稿一覧</h2>
    </li>
<div class="p-3">
<table border="1" style= "border-collapse: collapse">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>投稿内容</th>
      <th>コメント</th>
    </tr>
  </thead>

  <% @games.each do |game| %>
  <tbody>
  <tr>
    <td><%= link_to(game.user.nickname, public_user_path(game.user.id)) %></td>
    <td><%= link_to(game.title, public_game_path(game.id)) %></td>
    <td><%= game.body %></td>
    <td><%= link_to "#{game.post_comments.count} コメント", public_game_path(game.id) %></td>
  <% end %>

  </thead>
 </table>
 </div>
 </div>